.footer {
    background-color: #1E2A3A;
    text-align: center;
    padding: 20px;
    margin-top: auto;
    /* This ensures the footer is pushed to the bottom */
    width: 100%;
}

.footer p {
    font-size: 14px;
    margin: 0;
    color: white;
}